<!DOCTYPE html>
<html>
<head>
    <title>PizzaProject</title>
</head>
<body>
    <!-- Log in-->
    <form action="/login" method="post">
        <label for='login'>
			<input name='username' type='text' placeholder='Username' required><br/>
			<input name='password' type='text' placeholder='Password' required>
		</label>
        <button type='submit'>Submit</button>
    </form>
    <!-- Title, menu item 1/2/3-->
    <div id=''>
        <ul>
            <li><a href='#'><h1>Pizza Project</h1></a></li>
            <li><a href='#'>Starters</a></li>
            <li><a href='#'>Mains</a></li>
            <li><a href='#'>Desserts</a></li>
            <li><a href='#'>Drinks</a></li>
        </ul>
    </div>
    <!--The image/carousel -->
    <a href='#'><img src='#' alt='Some really nice looking food'></a>

    <!--Intro Copy Headline and text-->
    <h2>Award Winning Pizza</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <!-- Our 3 specials-->
    <div id=''>
        <ul>
            <li><a href='#'>Pepperoni</a></li>
            <li><a href='#'>Ham and Mushroom</a></li>
            <li><a href='#'>Veggie Option</a></li>
        </ul>
    </div>
</body>

<footer>
    <!-- External Links-->
    <div id=''>
        <ul>
            <li><a href='#'><h2>Find us on these websites!</h2></a></li>
            <li><a href='#'>Deliveroo</a></li>
            <li><a href='#'>Uber Eats</a></li>
            <li><a href='#'>Just Eat</a></li>
        </ul>
    </div>
    <!-- Contact form-->
    <form method='post' action='/feedback'>
        <label for='email'><input id='email' type='text' placeholder='Your E-Mail' required></label>
        <label for='feedback'><input id='feedback' type='text' placeholder='We appreciate all feedback!' required></label>
        <button type='Submit'>Submit</button>
    </form>
</footer>
</html>
